bindAddr: 127.0.0.1
listen: 8080
cert: ""
key: ""
insecureSkipTLSVerify: false
route:
    - name: registry-server
      prefix: /v2
      remote:
        url: http://registry.example.com
        hookLocation: true
    - prefix: /
      plainText:
        content: This is a plain text response
        status: 200
    - prefix: /favicon.ico
      plainText:
        content: 404 not found
        status: 404
